body{
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#paint{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(202, 202, 202);
    cursor: crosshair;
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    width: 100dvw;
    z-index:1;
    position: fixed;
    background-color: white;
}

.box{
    width: 5dvw;
    height: 5dvw;
    cursor: pointer;
    border: solid black 5px;
    border-radius: 1dvw;
}
.box span{
    font-size: 5dvw;
}
.box img{
    padding: 10%;
    width: 80%;
    height: 80%;
}

#colors{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.color-selected{
    border-color: #0a82d8;
}

#size{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 20dvw;
    height: 5dvw;
    min-width: 200px;
}
#size::-webkit-slider-runnable-track {
    background: #0a82d8;
    height: 3rem;
    border-radius: 1rem;
}
#size::-moz-range-track {
    background: #0a82d8;
    height: 3rem;
    border-radius: 1rem;
}
#size::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -.5rem;
    border-radius: 2rem;
    background-color: #004855;
    height: 4rem;
    width: 1rem;    
}
#size::-moz-range-thumb {
    border: none;
    border-radius: 2rem;
    background-color: #004855;
    height: 4rem;
    width: 1rem;
}


#loading-drawings{
    display: none;
    position: relative;
    position: fixed;
    z-index: 10;
    width: 80dvw;
    height: 80dvh;
    background-color: rgba(85, 85, 85, 0.973);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loading-drawings #close{
    display: block;
    font-size: 4dvw;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: red;
}

#tags{
    font-size: 2dvw;
    margin: 1dvw;
    margin-top: 3dvw;
    width: calc(80dvw - 30px*2 - 4dvw - 10px);
    display: flex;
    gap: 30px;
    padding: 20px;
    overflow-x: scroll;
}
.tag{
    cursor: pointer;
}
.tag-selected{
    text-decoration: underline;
}

#colection-drawings{
    margin-top: 1dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-y: scroll;
    height: calc(80dvh - 1dvw - 12dvw);
}