body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}



/* ! Kolory */
:root {
    --mdc-theme-primary:#006abc;
    --mdc-theme-secondary:#0098f1;

    /* select menu backcolor */
    --mdc-theme-surface: #dfdfdf;

    /* select menu text */
    --mdc-theme-on-surface:	#010141;
} 


/* Kolor tekstu label */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
    color: #006abc;
}

/* Kolor tekstu select */
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: #006abc;
}

/* Kolor tekstu label required*/
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #b00020;
}




/* ! cały formularz */
fieldset
{
    border-radius: 15px;
    border: 2px solid #0098f1;
    width: 70%;
    margin: auto;
}
/* legenda */
legend
{
    font-size: 30px;
    opacity: 70%;
}

/* wielkość label imie i nazwisko */
.label-a
{
    width: 200px;
}
/* wielkosc label opis */
#label-a
{
    width: 404px;
}

/* required */
p
{
    opacity: 60%;
    font-size: 15px;
}

/* wyrównainie radio i checkbox do lewej */
.mdc-form-field
{
    margin: auto;
    text-align: left;
    width: 250px;
    padding-left: 40px;
}

/* submit button */
#submit
{
    --mdc-theme-primary:#7cb12c;
    font-weight: 600;
}
/* reset button */
#reset
{
    --mdc-theme-primary:#ff2f2f;
    font-weight: 600;
}