<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive</title>
</head>
<body>
  <script type="module">
    import { INTERACTIVES_URL } from '../js/config.js';

    const params = new URLSearchParams(window.location.search);
    const id = params.get("id");

    if (id) {
      const script = document.createElement("script");
      script.src = `../../../${INTERACTIVES_URL}${id}.js`;
      document.body.appendChild(script);
    } else {
      document.body.innerText = "interactive.html (template): No ID provided in URL.";
    }

    window.done = function () {
      window.parent.postMessage({ type: 'done' }, '*');
    }
    window.failed = function () {
      window.parent.postMessage({ type: 'failed' }, '*');
    }
  </script>
</body>
</html>