body 
{
    background-color:#5b5b5b;
    color:#d3d3d3;
    display:block;
    margin: 1%;
    text-align: center;
}
canvas
{
    /* width: 100%;
    height: 100%; */
    margin: auto;
    display: block;
}

label
{
    margin: 5px;
    width: 100%;
}

nav
{
    display: grid;
}

.dialog-win
{
    color: #d3d3d3;
}

button
{
    margin: auto;
    width: 30%;
}

/* dash bar */
#dash-bar
{
    margin: auto;
    margin-bottom: 30px;
    margin-top: 5px;
    width: 50%;
    height: 40px;
    background-color: #444444;
    border-radius: 40px;
}
#progres
{
    background-color: red;
    height: 40px;
    margin: 0;
    border-radius: 40px;
    font-size: 36px;
    color: #d3d3d3;

    width: 50%;
}
p
{
    font-size: 36px;
    color: #d3d3d3;
    margin: 0;
    margin-top: 20px;
}
.last-time
{
    margin-bottom: 20px;
}

@media (max-width: 1000px) 
{
  canvas
  {
    width: 648px;
    height: 320px;
  }
  nav{
    display: none;
  }
}